*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes marquee {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
.marquee {
  animation: marquee 15s linear infinite;
  white-space: nowrap;
  display: flex;
}